# pNE 23/04/2013 : création d’un fichier générique pour mes fichiers en local

# les fichiers système du mac
.DS_Store

# les fichiers de bundler
.bundle

# les fichier d’environnement
.env

# les fichiers de config de pow
.powrc

# les fichiers pour rbenv
.rbenb*

# les fichiers de version de ruby
.ruby-version

# les fichiers de bases de données sqlite sqlite3
*sqlite
*sqlite3

# le fichier des routes généré par `rake roures`
config/routes.txt

# les fichiers sublimes
*.sublime-*

# le bootstrap et les fichiers venant de dossier “bower”
bootstrap
bower_components

# les fichiers de database
database.yml
database.sql

# les dump
*dump

# les rubocop files
.rubocop.yml
.rubocop_todo.yml